*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.fix{
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #fff;
}
.logo{
    display: flex;
    align-items: center;
}
.nav{
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(226, 226, 226);
    /* height: ; */
}
.top{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 3rem;
    height: 40px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

.fa-search{
    background-color: #FF385C;
    color: #fff;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* border: 1px solid; */
}
.profile{
    display: flex;
    gap: 20px;
    align-items: center;

}

.info{
    display: flex;
    gap: 25px;
    border-radius: 40px;
    border: 0.1px solid gray;
    /* color: #fff; */
    /* background-color: gray; */
    padding: 5px 8px;
    align-items: center;
}

.fa-bars{
    color: gray;
}

.fa-user{
    color: #fff;
    background-color: gray;
    border-radius: 30px;
    font-size: 20px;
    padding: 7px 10px;
}
sup{
    background-color: #FF385C;
    position: absolute;
    border-radius: 30px;
    color: #FF385C;
    border: 2px solid #fff;
    padding: 5px;
    transform: translateX(10px);
    transform: translateY(-10px);
}

.contin{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
}

.nav2{
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease-in;
    cursor: pointer;
    padding: 10px 0;
}
.nav2:hover{
    color: black;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}
.navi{
    color: rgb(5, 3, 3);
    display: flex;
    border-bottom: 1px solid rgb(128, 128, 128);
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease-in;
    cursor: pointer;
    padding: 10px 0;
}
.navi:hover{
    color: black;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}
.fir{
    display: flex;
    gap: 30px;
    align-items: center;
}
.fa-angle-right{
    padding: 10px 15px;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 30px;
}
.filt{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 8px;
}
.slide {
    /* width: 100%;
    height: 60vh; */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }

  .sct{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    margin-left: 70px;
    row-gap: 40px;
  }

  .sct img{
    border-radius: 15px;
  }
  .sct img:hover{
    /* border-radius: 15px; */
    box-shadow: 0 0 2px 1px rgba(63, 64, 65, 0.5);
  }



  .subinfo{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 6px;
  }

  .subinfo1{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .subinfo1ic{
    display: flex;
    gap: 10px;
  }

  .footmap{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: black;
    color: #fff;
    padding: 15px 25px;
    border-radius: 20px;
    justify-content: center;
    width: 180px;
    transform: translateX(380%);
    z-index: 89;
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
}

.subs img {
    height: 10px;
}
.img{}

@media (max-width: 900px){
    .sct{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        /* margin-left: 70px; */
        row-gap: 40px;
      }
    
}
@media (max-width: 760px){
    .sct{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        column-gap: 10px;
        margin-left: 70px;
        row-gap: 40px;
      }
      .img {
        height: 10px;
      }
    
}
